<% include ./partials/header.ejs %>

  <link rel="stylesheet" href="/stylesheets/poststyle.css">

    <div id="main">
        <div style="position: fixed;" id="left">
          <div id="searchdiv">
            <div id="side">
                <div id="insta">
                  <a href="/home">
                    <i class="ri-instagram-line"></i>
                  </a>
                </div>
                <div id="icons">
                  <a href="/home"><i class="ri-home-5-line"></i></a>
                  <a href="/search"><i class="ri-search-line"></i></a>
                  <a href="#"><i class="ri-compass-line"></i></a>
                  <a href="#"><i class="ri-message-3-line"></i></a>
                  <a href="/message"><i class="ri-chat-3-fill"></i></a>
                  <a href="#"><i class="ri-heart-line"></i></a>
                  <a href="/createpost"><i class="ri-file-add-line"></i></a>
                  <a href="/profile" style="margin-left: 10px;" class="circle"><img src="/images/uploads/<%= users.profileimage %>" alt=""></a>
                </div>
                <div id="menu">
                  <a href="#"><i class="ri-menu-line"></i></a>
                </div>
            </div>
            <div id="remain">
              <h2 style="padding: 10px; position: absolute; top: 3.3%; color: white;">Search</h2>
              <div id="nave">
                <input type="text" name="Search" placeholder="Search" id="Search">
                <div id="submitent">
            
                </div>
              </div>
            </div>
          </div>


          <img style="width: 8vw; height: 6vh; margin-top: 35px; margin-left: 25px;"  src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/840px-Instagram_logo.svg.png" alt="">
          <a href="/home" style="text-decoration: none; color: black; margin-top: 20px;"><i class="ri-home-5-line"></i>Home</a>
          <button style=" color: black;" class="searchbtn"><i class="ri-search-line"></i>Search</button>
          <a href="" style="text-decoration: none; color: black;"><i class="ri-compass-line"></i>Explore</a>
          <a href="" style="text-decoration: none; color: black;"><i class="ri-message-3-line"></i>Reel</a>
          <a href="/message" style="text-decoration: none; color: black;"><i class="ri-chat-3-fill"></i>Message</a>
          <a href="" style="text-decoration: none; color: black;"><i class="ri-heart-line"></i>Notification</a>
          <a href="/createpost" style="text-decoration: none; color: black;"><i class="ri-file-add-line"></i></i>Create</a>
          <a href="/profile" style="text-decoration: none; color: black;"><div class="circle"><img style=" margin-top: -5px; width: 100%; height: 100%; object-fit: cover;" src="/images/uploads/<%= users.profileimage %>" alt=""></div>Profile</a>
        </div>
        <div id="right">
            <form action="/posts" method="post" enctype="multipart/form-data">
              <div id="block" style="display: flex; align-items: center; justify-content: center;">
                <img style="width: 400px; height: 400px;margin-top: 100px; border-radius: 20px;" src="/images/uploads/WhatsApp Image 2023-10-18 at 15.50.47_423a18ec.jpg" alt="">
                <button id="Select" style="width: 130px; height: 30px;background: red;margin-top: 23%; opacity: 0; position: absolute;"></button>
              </div>
              <div id="comment" style="width: 700px;height: 400px;background: #262626; border-radius: 20px; position: absolute; top: 15%; left: 15%; display: none;">
                  
              </div>
            </form>

            <form action="/posts" method="POST" enctype="multipart/form-data">
              <label for="postdets">Post Details:</label>
              <textarea id="postdets" name="postdets" required></textarea>
              <br>
              
              <label for="postsimage">Post Image:</label>
              <input type="file" id="postsimage" name="postsimage" accept="image/*">
              <br>
          
              <button type="submit">Create Post</button>
            </form>
        </div> 
      </div>
      
      <script>
      var input = document.querySelector("#in");
      var submit = document.querySelector("#submit")

      document.querySelector("#Select").addEventListener("click", (e) => {
        e.preventDefault(),
        input.click()
      });

      input.addEventListener('change', () => {
        submit.click()
        
      })

      var postkaro =  function(){
        document.querySelector("#")
      }
      </script>

      <script>


var inp = document.querySelector("#Search")

  inp.addEventListener("input", function(){
    var clutter = ``;
    if(inp.value.trim().length > 0){
      axios.get(`/show/${inp.value}`).then(function(e){
        console.log(e)
        e.data.allUsers.forEach(function(elem){
          clutter += `
          <div id="profile">
            <div id="img">
              <img src="/images/uploads/${elem.profileimage}" alt="">
            </div>
            <h5>@${elem.username}</h5>
          </div>
          `
        }) 
    document.querySelector("#submitent").innerHTML = clutter
          })
    }else{
    document.querySelector("#submitent").innerHTML = ``;
    }
    })

    var nav = document.querySelector("#nav")
      var search = document.querySelector(".search")
        var flag = 1

      search.addEventListener("click",function(){
        if(flag === 1){
        nav.style.display = "flex"
          flag = 0
        }else{
          nav.style.display = "none"
          flag = 1
        }
      })

      </script>
      <script>
        var searchdiv = document.querySelector("#searchdiv")
        var searchbtn = document.querySelector(".searchbtn")
      
        searchbtn.onclick= ()=>{
          searchdiv.style.left='0%'
        }
      
      </script>
      <% include ./partials/footer.ejs %>