<% include ./partials/header.ejs %>

<div id="main">
    <div style="position: fixed;" id="left">
        <div id="searchdiv">
            <div id="side">
                <div id="insta">
                  <a href="/home">
                    <i class="ri-instagram-line"></i>
                  </a>
                </div>
                <div id="icons">
                  <a href="/home"><i class="ri-home-5-line"></i></a>
                  <a href="/search"><i class="ri-search-line"></i></a>
                  <a href="#"><i class="ri-compass-line"></i></a>
                  <a href="#"><i class="ri-message-3-line"></i></a>
                  <a href="/message"><i class="ri-chat-3-fill"></i></a>
                  <a href="#"><i class="ri-heart-line"></i></a>
                  <a href="/createpost"><i class="ri-file-add-line"></i></a>
                  <a href="/profile" style="margin-left: 10px;" class="circle"><img src="/images/uploads/<%= users.profileimage %>" alt=""></a>
                </div>
                <div id="menu">
                  <a href="#"><i class="ri-menu-line"></i></a>
                </div>
            </div>
            <div id="remain">
              <h2 style="padding: 10px; position: absolute; top: 3.3%; color: white;">Search</h2>
              <div id="nave">
                <input type="text" name="Search" placeholder="Search" id="Search">
                <div id="submitent">
            
                </div>
              </div>
            </div>
          </div>


      <img style="width: 8vw; height: 6vh; margin-top: 35px; margin-left: 25px;"  src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/840px-Instagram_logo.svg.png" alt="">
      <a href="/home" style="text-decoration: none; color: black; margin-top: 20px;"><i class="ri-home-5-line"></i>Home</a>
      <button style=" color: black;" class="searchbtn"><i class="ri-search-line"></i>Search</button>
      <a href="" style="text-decoration: none; color: black;"><i class="ri-compass-line"></i>Explore</a>
      <a href="" style="text-decoration: none; color: black;"><i class="ri-message-3-line"></i>Reel</a>
      <a href="/message" style="text-decoration: none; color: black;"><i class="ri-chat-3-fill"></i>Message</a>
      <a href="" style="text-decoration: none; color: black;"><i class="ri-heart-line"></i>Notification</a>
      <a href="/createpost" style="text-decoration: none; color: black;"><i class="ri-file-add-line"></i></i>Create</a>
      <a href="/profile" style="text-decoration: none; color: black;"><div class="circle"><img style=" margin-top: -5px; width: 100%; height: 100%; object-fit: cover;" src="/images/uploads/<%= users.profileimage %>" alt=""></div>Profile</a>
    </div>
    <div id="right">
      <div class="container">

      </div>
    </div> 
  </div>
  <script>
    var searchdiv = document.querySelector("#searchdiv")
   var searchbtn = document.querySelector(".searchbtn")
 
   searchbtn.onclick= ()=>{
     searchdiv.style.left='0%'
   }
 </script>

  <% include ./partials/footer.ejs %>
